<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title" translate="USER.TITLE"></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="user" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th translate="USER.TABLE_HEADER.ID"></th>
                <th translate="USER.TABLE_HEADER.USER_NAME"></th>
                <th translate="USER.TABLE_HEADER.CREATION_DATE"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>2</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>3</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>4</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>5</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>6</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>7</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>8</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>9</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>10</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>11</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>12</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>13</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>14</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>15</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>16</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>17</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>18</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>19</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            <tr>
                <td>20</td>
                <td>liuwei</td>
                <td>lw900925@163.com</td>
                <td>2017-03-01</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>